{% extends 'base.html' %}
{% block title %}Add OUT Transaction{% endblock %}

{% block content %}
<h2>Add OUT Transaction</h2>
<form method="POST" class="mt-3">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Transaction Number</label>
        <input type="text" name="trno" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Transaction Date</label>
        <input type="date" name="trdate" class="form-control" required>
    </div>
    <input type="hidden" name="trtype" value="OUT">
    <button type="submit" class="btn btn-primary">Add OUT Transaction</button>
</form>
{% endblock %}
